body {
    margin: 0;
    background: #01152E;
    background-image: url('/static/images/static_bk.png');
}                                                                                 


.gpg-red-box {
    background: #890303;
    color:#eee;
    border-bottom: 5px solid #460202;
    border-right: 5px solid #640202;
    border-left: 5px solid #9f3537;
}
.page {
    display: none;
}
.page-box {
    background: #E4E3AF;
    border: 3px solid #890303;
    padding: 10px 10px 30px;
    border-radius: 2px;
}

h1, h2 {
    font-family: 'Old London';
}
/** Header **/
#header {
    position: relative;
    text-shadow: 1px 2px 2px #000;
}
#header h1 {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 56px;
}
#header h1.the {
    position: absolute;
    left: 123px;
    top: 0;
    font-size: 33px;
}
#header .gpg-red-box {
    box-shadow: 1px 3px 7px #000;
}
#header img {
    position: absolute;
    left: 0px;
    height: 139px;
}
#welcome_admin {
    position: absolute;
    right: 25px;
    top: 0;
    background: black;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #aaa;
    padding: 5px 8px;
    color: white;
    border-radius: 0px 0px 3px 3px;
}

/** Site Body **/
#wrapper {
    background-color: #036a0f;
    background-image: url('/static/images/static_bk.png');
    border:10px solid #000;
    border-top: none;
    border-bottom: 40px solid #000;
    border-radius: 0 0 6px 6px;
}
#main {
    margin-top: 20px;
    padding-bottom: 30px;
}
#menu {
    padding-left: 0;
    padding-top: 80px;
}
#menu ul {
    background: #000;
    border-radius: 0 3px 3px 0;
    padding: 0;
    list-style-type: none; 
}

#menu ul a,
#menu ul a:focus,
#menu ul a:active {
    color: #eee;
    font-weight: bold;
    transition: all 0.5s;
    outline: none;
    padding: 10px 20px;
    display: block;
    text-decoration: none;
}

#menu ul a:hover,
#menu .active > a,
#menu .active > a:focus,
#menu .active > a:active {
    color: #FC0;
    background: #000;
}


.dropdown > ul {
    position: absolute;
    left: 200px;
    z-index: 1;
    top: 13px;
    border: 1px solid #333;
    display: none;
}
.dropdown:hover > ul{
   display: block; 
}
.dropdown a {
    white-space: nowrap;
}
.next-page {
    padding-right: 20%;
    text-align: right;
}

.home-img {
    float: left;
    margin-right: 13px;
}

.button {
    border-top: 5px solid #aaa;
    border-left: 5px solid #666;
    border-right: 5px solid #111;
    border-bottom: 5px solid #000;
    background: #000;
    color: #eee;
    padding: 5px 8px;
    display: inline-block;
    text-decoration: none;
}

.button:hover,
.button:active,
.button:focus {
    border-bottom: 5px solid #aaa;
    border-right: 5px solid #666;
    border-left: 5px solid #111;
    border-top: 5px solid #000;
    color: #eee;
    text-decoration: none;
}

.button strong {
    color: gold;
}

/** Cards **/
.card {
    display: inline-block;
    padding: 7px;
    margin: 5px;
    background: #fff;
    height: 95px;
    width: 95px;
    vertical-align: top;
}
.card strong {
    display: block;
    word-break: break-word;
    white-space: pre-wrap;
    font-size: 13px;
}
.card img {
    height: 75px;
    width: 75px;
}

/** Current Playing **/
.no-games {
    text-align: center;
    font-size: 16px;
}