{% extends "spirits/modal.jinja" %}
{% from "spirits/form.jinja" import render_form %}
{% block modal_id %}game{% endblock %}
{% block modal_title %}Glass Plate Game{% endblock %}

{% block modal_dialog %}<form class="form-horizontal" data-api="game">{{ super() }}</form>{% endblock %}

{% block modal_body %}
    {{ render_form(game_form) }}
{% endblock %}