<!DOCTYPE html>
<html>
<head>
  <title>The Glass Plate Game</title>
  {% assets "css_public" %}
  <link href="{{ ASSET_URL }}" type="text/css" rel="stylesheet" />
  {% endassets %}
</head>
<body>
  <div id="wrapper" class="container">
    <div id="header" class="row">
      <div class="gpg-red-box col-lg-6 col-lg-offset-2 col-md-7 col-md-offset-1 text-right">
        <img src="/static/images/header.png" class="pull-left" />
        <h1>Glass Plate Game</h1>
        <div>A Cooperative Thinking Game</div>
      </div>
    </div>
    <div id="main" class="row">
      <div id="menu" class="col-lg-3 col-md-3">
        <ul class="">
          <li>
            <a href="/">Home</a>
          </li>
          <li class="dropdown">
            <a href="/playing_the_game">
              <span>Playing the Game</span>
            </a>
            <ul class="nav">
                <li><a href="/rules">Rules</a></li>
                <li><a href="/connections">Making Connections</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="/about">About the Game</a>
            <ul class="nav">
                <li><a href="/history">History</a></li>
                <li><a href="/hesse">Hesse Biography</a></li>
            </ul>
          </li>
          <li>
            <a href="/current_playing">Current Playing</a>
          </li>
          <li>
            <a href="/cards">Cards</a>
          </li>
          <li>
            <a href="/contact">Contact</a>
          </li>
          <li>
            <a href="/links">Links</a>
          </li>
        </ul>
      </div>
      <div id="pages" class="row col-lg-7 col-lg-offset-1 col-md-7 col-md-offset-1">
       
        {{ get_page_div('home', page) }}
          <div class="page-box">
            <h1 class="text-center">A Cooperative Thinking Game</h1>
            <div>
              <img src="/static/images/home.jpg" class="home-img" />
              The Glass Plate Game is basically a conversation in the trappings of a board game. 
              Adrian Wolfe and I, Dunbar Aitkins, designed it following a class I instigated in 1976. 
              Pieces are used to map, against a mosaic, the conversation as players find and discuss 
              connections between ideas represented by various regions of the mosaic. In the sets 
              there are "idea cards" for composing the mosaic, then numbered cubes and colored 
              transparencies for pieces tracking the conversation.
              <div class="next-page">
                <a class="button" href="/playing_the_game"><strong>Next:</strong> Playing the Game</a>
              </div>
            </div>
          </div>
        </div>
       
        {{ get_page_div("playing_the_game", page) }}
          <div class="page-box">
            <h1 class="text-center">Playing the Game</h1>
            <div>
              <img src="/static/images/playing.gif" class="pull-right" />
              The printed cards are sample ideas to spark lines of thought. To start the game players lay down the cards that seem interesting or appropriate for that playing, adding ideas as they think of them. The picture-graphic is for quick recognition after the players are somewhat familiar with the cards. With the ideas thus laid out the players remove those that anyone cannot understand. Players should help each other understand. <br/>
              Writing ideas on cards is openended but no opinions are allowed; no cards may have a question of truth or falseness. Personal statements are to be made only by relating ideas. Still, a theory is not an opinion. Thus the idea "cars as a vile public nuisance" is acceptable whereas "cars are a vile public nuisance" is not. <br/>
              For those who care to, attaching a diagram, picture or photograph can add impact and beauty to an idea. Also unassigned pictures, particularly photographs, can spark ideas again and again. One could use a deck of unassigned photographs, each with a blank card under it, to speed creation of a new set of ideas for each playing. <br/>
              All the pieces are held in common and should be within reach of everybody. Play begins when someone labels a card with the first sequential cube and a colored square.<br/>
            </div>
          </div>
        </div>

        {{ get_page_div("rules", page) }}

        </div>

        {{ get_page_div("connections", page) }}

        </div>
    
        {{ get_page_div("about", page) }}
          <div class="page-box">
            <h1 class="text-center">About the Game</h1>
            <div>
              <img src="/static/images/about.jpg" class="pull-right" />
              The object of playing the game is to spark creative and interesting 
              conversation between the players. Nobody wins. The placement of pieces 
              on the cards marks the expression and manipulation of ideas or concepts. 
              As with conversation, the game is generally played without a goal at the 
              start. Players create and label idea-cards as whim directs them, extending 
              lines of thought that catch the groups imagination. The rules of the game 
              are intended to be an agreement rather than a set of statutes; as written 
              they enforce clarity, cooperation and ease of exploration.
            </div>
          </div>
        </div>
   
        {{ get_page_div("history", page) }}

        </div>

        {{ get_page_div("hesse", page) }}

        </div>

        {{ get_page_div("cards", page) }}

        </div>
       
        {{ get_page_div("contact", page) }}

        </div>

        {{ get_page_div("links", page) }}

        </div>
      </div>
    </div>
    <div id="footer"></div>
  </div>
  {% assets "js_public" %}
  <script src="{{ ASSET_URL }}" type="text/javascript"></script>
  {% endassets %}  
</body>
</html>